{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class="container-fluid" id="new_post">
        <h3>New Post</h3>
        <form id="post_form">
            <textarea class="form-control" id="post_text" placeholder="Add New Post..."></textarea><br>
            <input type="submit" value="Post" class="btn btn-primary"/>
        </form>
    </div>

    <div class="container-fluid" id="posts_view">
        
    </div>
    <div class="container-fluid" id="profile_view"></div>
    <div class="container-fluid" id="following_posts_view"></div>
    <div class="pagenumbers" id="pagination"></div>




{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}