.post_div {
    border-style: solid;
    border-width: thin;
    border-color: #DCDCDC;
    height: 200px;
    width: 100%;
    padding:15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.div_profile {
    border-style: solid;
    border-width: thin;
    border-color: #DCDCDC;
    height: 150px;
    width: 100%;
    padding:10px;
    margin-bottom: 5px;
    margin-top: 5px;
}