.post_element {
    border-style: solid;
    border-width: thin;
    border-color: #DCDCDC;
    height: 100%px;
    width: 100%;
    padding:15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.div_profile {
    border-style: solid;
    border-width: thin;
    border-color: #DCDCDC;
    height: 150px;
    width: 100%;
    padding:10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#paginated_btn {
    width: 40px;
    height: 40px;
    appearance: none;
    border-radius: 5px;
    border-width: thin;
    /* space btw buttons */
    margin: 0 4px;
    
}

#paginated_btn:hover {
    background-color: gray;
}

.fa {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }